.header {
  width: 100%;
  margin: 50px 0;

  header {
    border-radius: 50px;
    box-shadow: none;
    background: unset;
  }

  img.logo {
    float: left;
    cursor: pointer;
  }

  .menu {
    box-shadow: $box-shadow;

    button {
      height: 45px;
      border-radius: unset;
      padding: 0 40px;
      font-size: 20px;
      color: $color-blue;
      background: $color-white;
      border-left: 1px solid #d4d4d4;
      width: 160px;
      border-bottom: 2px solid $color-green;

      &:hover {
        color: $color-green;
      }

      &.current {
        //border-bottom: 2px solid $color-blue;
      }
    }
  }
}
