.label {
  font-size: 50%;
  border: 0.5px solid;
  padding: 4px;
  text-align: center;
  background: #F5F5F5;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 2px;

  &.label-green {
    color: $color-green;
    border-color: $color-light-bg !important;

  }
}