.single-project {
  padding-top: 20px;
  padding-right: 10px;
  margin-bottom: 20px;

  .body {
    border: 1px solid;
    padding: 20px 40px;
  }

  .expend-icon {
    width: 20px;
    font-size: 18px;
    margin-left: 10px;
  }

  .expend {
    margin-top: 20px;
    padding: $padding-small;
  }

  .sub-menu {
    width: fit-content;
    float: right;
    margin-bottom: 10px;
    .btn {
      margin-right: 5px;
    }
  }

  textarea {
    background: #000;
    width: 100%;
    min-height: 300px;
    height: $terminal-height;
    overflow: scroll;
    color: $color-console-green;
    padding-left: 20px;
    padding-top: 20px;
    background: $color-dark;
  }

  .click-edit {
    color: $color-accent;
    font-size: 70%;
  }
}