
/* colors */

$color-dark: #212529;
$color-light: #fff;
$color-light-bg: #F5F5F5;
$color-green: green;
$color-console-green: #33ff00;
$color-accent: #6d6d6d;

/* paddings */
$padding-small: 10px;

$terminal-height: 350px;
