$color-green:           #8ac060;
$color-green-light:     #8ac06066;
$color-blue:            #005f9e;
$color-gray:            #f5f5f5;
$color-text-gray:       #819299;
$color-border-gray:     #e2e2e2;
$color-white:           #fff;
$color-red:             red;
$color-navy:            #00001c;
$color-orange-light:    #FFF3E0;


$box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.196);
$box-shadow-aggresive: 0px 4px 10px rgba(0, 0, 0, 0.46);

$break-small: 430px;